<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey’s Convention Center</title>
    <link rel="icon" href="./../asset/flat-color-icons_conference-call.png">
    <link rel="stylesheet" href="./../public/css/home.css" />
    <link rel="stylesheet" href="./../public/css/aboutus.css" />

    <!-- Feather icon -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbarleft">
          <img
            class="logo"
            src="./../asset/flat-color-icons_conference-call.png"
            alt=""
          />
          <div class="webname">
            <p>Jockey’s Conference Center</p>
          </div>
        </div>
        <div class="menu">
          <div class="links">
            <a href="homepage.html">Home</a>
            <a href="event.html">Event</a>
            <a href="pricelist.html">Pricelist</a>
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
          </div>
          <a href="#" id="hamburger"><i data-feather="menu"></i></a>
        </div>
      </div>
    </div>

    <!-- Feather Icon -->
    <script>
      feather.replace();
    </script>

    <!-- Java Script Hamburger -->
    <script src="./../javascript/hamburger.js"></script>

    <div class="contactcontent">
      <div class="history">
        <div class="content">
          <h3>Introduction</h3>
          <p>
            Established in 1974, we have more than fourty-nine years experience
            of hosting events for some of the world’s biggest movers and
            shakers. Our premises were originally designed to accommodate 62
            heads of state and their delegations for the 11th Non-Aligned
            Movement Summit in 1993 and Asian-African Conference. Since then, we
            have kept abreast of events and communications technology
            developments, delivering seamless start-to-finish service. The
            Jockey’s Convention Center spans around 88,000 sqm and comprises a
            round theater-style hall (Plenary Hall), two exhibition halls
            (Exhibition Hall A & B), an Assembly Hall, a banqueting hall
            (Cendrawasih Room), a spacious main lobby and atmospheric lower
            lobby, VIP rooms and lounges, and ten further meeting rooms which
            can be configured to match specific event requirements. The Jockey’s
            Convention Center also has a business center to support your
            meetings. Our bonded warehouse facilitates the fast customs
            clearance of temporarily imported goods. An independent 6,000 space
            car park is located immediately in front of the convention center,
            and a selection of mid- to high-range hotels are within walking or
            short driving distance.
          </p>
        </div>
      </div>
      <div class="fasilitas">
        <div class="content">
          <div class="first">
            <h3 class="title">Exhibition Halls</h3>
            <div class="desc">
              <img src="./../asset/63e5b0521e1f3.jpg" alt="" />
              <p class="aboutus-words">
                We have two exhibition halls, each with their own 1,000 sqm
                lobbies and access points. Both halls have a ceiling height of
                nine meters, and are equipped with telephone and communication
                outlets, audio visual points, single and 3-phase power sources,
                and floor box access to electricity, phone lines, and water,
                drainage and compressed air on request. Trucks have direct
                access to both halls for easy loading. Exhibition Hall A covers
                3,060 sqm, has a floor load of 1,200 kg/sqm, and a distribution
                frame capable of handling 450 pairs of telephone lines.
                Exhibition Hall B spans 6,075 sqm, with a floor load of 1,500
                kg/sqm, and a distribution frame able to handle up to 500 pairs
                of telephone lines. The two halls can be connected through a
                450-sqm corridor giving a combined exhibition space of 9,585
                sqm.
              </p>
            </div>
          </div>
          <div class="second">
            <div class="left">
              <h3 class="title">IN HOUSE CATERING SERVICES</h3>
              <img src="./../asset/5e327f00440d9.jpg" alt="" />
              <p class="aboutus-words">
                The Balai Sidang Jakarta Convention Center has a spacious 1,500
                sqm modern kitchen and the capacity to cater for 10,000 guests.
                Our Executive Chef and his team can prepare regional cuisines
                from across the Indonesian archipelago and dishes from around
                the world. For us, quality is a fundamental and ever thriving
                endeavor in Jakarta Convention Center. Our product is about the
                foods and drinks of course, but also about our team, our
                facilities and the many decisions we make each day that create
                your experience with us and affect the world around us. We
                believe in a balance between what our customer want to achieve
                and our experience on how to create it.
              </p>
            </div>
            <div class="right">
              <h3 class="title">BONDED WAREHOUSE</h3>
              <img src="./../asset/5e327e2233a91.jpg" alt="" />
              <p class="aboutus-words">
                Our bonded warehouse facilitates the fast customs clearance of
                temporarily imported goods. Visitors to Indonesia may bring no
                more than one liter of alcohol, and 200 cigarettes or 50 cigars
                or 100g of tobacco into the country. Cameras, video cameras,
                portable radios, binoculars and sports equipment are permitted
                into Indonesia provided they are declared on arrival.
                Motion-picture films, video tapes, and video laser disks must be
                screened by the censor board. There is no restriction on the
                import or export of foreign currencies. However, the import and
                export of Indonesian rupiah exceeding Rp 5,000,000.00 is
                prohibited. The following items are prohibited: firearms,
                ammunition, narcotics, pornography, transceivers and cordless
                telephones.
              </p>
            </div>
          </div>
          <div class="third">
            <h3 class="title">MEETING ROOMS</h3>
            <div class="desc">
              <p class="aboutus-words">
                The Balai Sidang Jakarta Convention Center has 13 event rooms,
                four of which have flexible dimensions and capacities. Accessed
                through the Main Lobby is the 5,000-seat Plenary Hall, a round
                theater-style venue with ground and mezzanine level entry
                points; the 3,921 sqm Assembly Hall, which comfortably seats
                2,500 guests for sit-down dinners or 4,500 guests for buffets,
                and the 2,109 sqm Cendrawasih Room, which is fitted with movable
                floor-to-ceiling partitions to customize the room space for
                smaller events. Accessed through the Lower Lobby are nine
                meeting rooms, two of which can be further divided for cozier
                events. The Lower Lobby itself is an elegant exhibition space,
                and the adjacent meeting rooms can accommodate between 20 and
                1,000 visitors.
              </p>
              <img src="./../asset/63e5e76d0ebd7.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="award-section">
        <div class="content">
          <h1>Award<br />Winning<br />Vanue</h1>
          <p>
            Jockey’s Convention Center is an awarding winning venue that has
            received numerous national & international awards, and won accolades
            from various events.
          </p>
        </div>
      </div>
      <div class="awardsstars">
        <div class="starleft">
          <div class="stars">
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">The Best Convention Center</p>
                <p class="lowercontent">
                  at The MICE Industry Award 2018 from Venue Magazine.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">
                  Most Energy Efficient Building of The Year
                </p>
                <p class="lowercontent">
                  from the 8th from the Department of Energy and Natural
                  Resources at the 4th National Energy Efficiency Awarding in
                  2015.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">Best Exhibition Hall</p>
                <p class="lowercontent">
                  at The MICE Industry Award 2018 from at The MICE Industry
                  Award 2018 from Venue Magazine. Magazine.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">
                  Highly Commended Award for Public Service Architecture
                  Category
                </p>
                <p class="lowercontent">
                  at Asia Pacific Property Awards 2016.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="starright">
          <div class="stars">
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">Purpose Built Category</p>
                <p class="lowercontent">
                  from FIABCI World Prix d'Excellence Awards 2017.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">Best Building Performance</p>
                <p class="lowercontent">
                  Colorbond award 2017 from Bluescope Indonesia.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">Best Exhibition Hall Award</p>
                <p class="lowercontent">
                  from The 8th Indonesia MICE Awards 2015 for outstanding
                  facilities and services in our exhibition hall.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">Best Exhibition Hall</p>
                <p class="lowercontent">
                  from The 8th Indonesia MICE Awards 2015 at MICE Outlook 2015.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="footerleft">
            <img
              class="logofooter"
              src="./../asset/flat-color-icons_conference-call.png"
              alt=""
            />
            <div class="words">
              <p class="title">Jockey’s Conference Center</p>
              <p class="slogan">the Perfect Event Destination since 1974</p>
            </div>
          </div>
          <div class="footerright">
            <div class="foterlr">
              <p class="title">Quick Links</p>
              <div class="list">
                <li><a href="homepage.html">Home</a></li>
                <li><a href="event.html">Event</a></li>
                <li><a href="pricelist.html">Pricelist</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
              </div>
            </div>
            <div class="footerrr">
              <p class="alamat">
                Arena JIEXPO Kemayoran<br />Jakarta Pusat 10620, Indonesia
              </p>
              <div class="phone">
                <img src="./../asset/c.png" alt="" />
                <p class="no">+62 21 26645 000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
