<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey’s Convention Center</title>
    <link rel="icon" href="./../asset/flat-color-icons_conference-call.png">
    <link rel="stylesheet" href="./../public/css/home.css" />
    <link rel="stylesheet" href="./../public/css/event.css" />

    <!-- Feather icon -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbarleft">
          <img
            class="logo"
            src="./../asset/flat-color-icons_conference-call.png"
            alt=""
          />
          <div class="webname">
            <p>Jockey’s Conference Center</p>
          </div>
        </div>
        <div class="menu">
          <div class="links">
            <a href="homepage.html">Home</a>
            <a href="event.html">Event</a>
            <a href="pricelist.html">Pricelist</a>
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
          </div>
          <a href="#" id="hamburger"><i data-feather="menu"></i></a>
        </div>
      </div>
    </div>

    <!-- Feather Icon -->
    <script>
      feather.replace();
    </script>

    <!-- Java Script Hamburger -->
    <script src="./../javascript/hamburger.js"></script>
    <div class="events">

      <div class="ourevent">
        <div class="container">
          <h2>Our Events</h2>
        </div>
      </div>
  
      <div class="eventlist">
        <div class="container">
          <div class="cardevents">
            <img class="gambar" src="./../asset/eventsuga.png" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>SUGA | AGUS D TOUR IN JAKARTA</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Concert</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>3 Juni 2023</p>
                </div>
                <p>Exhibiton Hall B-C</p>
              </div>
  
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/events-images-219-0.jpg" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>Wayv Phantom Fanmeeting Tour</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Event</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>10 Juni 2023</p>
                </div>
                <p>Exhibiton Hall A</p>
              </div>
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/events-images-221-0.jpg" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>Comic Frontier 16</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Event</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>17 Juni 2023</p>
                </div>
                <p>Exhibiton Hall C</p>
              </div>
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/eventsuga.png" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>SUGA | AGUS D TOUR IN JAKARTA</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Concert</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>3 Juni 2023</p>
                </div>
                <p>Exhibiton Hall B-C</p>
              </div>
  
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/events-images-219-0.jpg" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>Wayv Phantom Fanmeeting Tour</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Event</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>10 Juni 2023</p>
                </div>
                <p>Exhibiton Hall A</p>
              </div>
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/events-images-221-0.jpg" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>Comic Frontier 16</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Event</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>17 Juni 2023</p>
                </div>
                <p>Exhibiton Hall C</p>
              </div>
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/eventsuga.png" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>SUGA | AGUS D TOUR IN JAKARTA</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Concert</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>3 Juni 2023</p>
                </div>
                <p>Exhibiton Hall B-C</p>
              </div>
  
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/events-images-219-0.jpg" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>Wayv Phantom Fanmeeting Tour</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Event</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>10 Juni 2023</p>
                </div>
                <p>Exhibiton Hall A</p>
              </div>
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
          <div class="cardevents">
            <img class="gambar" src="./../asset/events-images-221-0.jpg" alt="" />
            <div class="eventdesc">
              <div class="detail">
                <h2>Comic Frontier 16</h2>
                <div class="concert">
                  <img src="./../asset/ticketicon.png" alt="" />
                  <p>Event</p>
                </div>
                <div class="date">
                  <img src="./../asset/calendaricon.png" alt="" />
                  <p>17 Juni 2023</p>
                </div>
                <p>Exhibiton Hall C</p>
              </div>
              <div class="moreinfo">
                <a href="#">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          

    <div class="footer">
      <div class="container">
        <div class="footerleft">
          <img
            class="logofooter"
            src="./../asset/flat-color-icons_conference-call.png"
            alt=""
          />
          <div class="words">
            <p class="title">Jockey’s Conference Center</p>
            <p class="slogan">the Perfect Event Destination since 1974</p>
          </div>
        </div>
        <div class="footerright">
          <div class="foterlr">
            <p class="title">Quick Links</p>
            <div class="list">
              <li><a href="homepage.html">Home</a></li>
              <li><a href="event.html">Event</a></li>
              <li><a href="pricelist.html">Pricelist</a></li>
              <li><a href="aboutus.html">About Us</a></li>
              <li><a href="contactus.html">Contact Us</a></li>
            </div>
          </div>
          <div class="footerrr">
            <p class="alamat">
              Arena JIEXPO Kemayoran<br />Jakarta Pusat 10620, Indonesia
            </p>
            <div class="phone">
              <img src="./../asset/c.png" alt="" />
              <p class="no">+62 21 26645 000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
