<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey’s Convention Center</title>
    <link rel="icon" href="./../asset/flat-color-icons_conference-call.png">
    <link rel="stylesheet" href="./../public/css/home.css" />

    <!-- Feather icon -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbarleft">
          <img
            class="logo"
            src="./../asset/flat-color-icons_conference-call.png"
            alt=""
          />
          <div class="webname">
            <p>Jockey’s Conference Center</p>
          </div>
        </div>
        <div class="menu">
          <div class="links">
            <a href="homepage.html">Home</a>
            <a href="event.html">Event</a>
            <a href="pricelist.html">Pricelist</a>
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
          </div>
          <a href="#" id="hamburger"><i data-feather="menu"></i></a>
        </div>
      </div>
    </div>

    <!-- Feather Icon -->
    <script>
      feather.replace();
    </script>

    <!-- Java Script Hamburger -->
    <script src="./../javascript/hamburger.js"></script>

    <div class="banner">
      <div class="container">
        <p>RISING ABOVE <br />CONVENTION</p>
      </div>
    </div>

    <div class="info">
      <div class="container">
        <h1>Versatile Convention Center in Indonesia</h1>
        <div class="box-info">
          <div class="text">
            <p>
              Jockey’s Convention Centre experienced handling national and
              events since 2018. We are passionate about creating memorable and
              inspiring events. With professional and dedicated team, we will
              work together to build ideas, insights and imaginative solutions
              to cater thousands of guests and host various types of events from
              meetings, conferences, product launches, weddings and social
              events to cultural shows, live theatre and musical concerts. With
              our stunning design venues and our professional teams’ devotion to
              details, you will be elated with the experience you have.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wedo">
      <div class="container">
        <div class="wedotext">
          <p>We Do Everything</p>
        </div>
        <div class="imagewedo">
          <div class="services">
            <div class="card">
              <img class="img-card" src="./../asset/speech (1).png" alt="" />
              <p>Conference</p>
            </div>
            <div class="card">
              <img class="img-card" src="./../asset/fair (1).png" alt="" />
              <p>Fair</p>
            </div>
            <div class="card">
              <img
                class="img-card"
                src="./../asset/exhibition (1).png"
                alt=""
              />
              <p>Exhibition</p>
            </div>
            <div class="card">
              <img
                class="img-card"
                src="./../asset/table-tennis (1).png"
                alt=""
              />
              <p>Sport</p>
            </div>
            <div class="card">
              <img
                class="img-card"
                src="./../asset/spotlights (1).png"
                alt=""
              />
              <p>Concert</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="whychooseus">
      <div class="containerwhy">
        <div class="textleft">
          <div class="award1">
            <div class="awd">
              <p class="word-top">88,000 sqm</p>
              <p class="word-bottom">site footprint</p>
            </div>
            <div class="awd">
              <p class="word-top">49</p>
              <p class="word-bottom">Years</p>
            </div>
          </div>
          <div class="award2">
            <div class="awd">
              <p class="word-top">88</p>
              <p class="word-bottom">Awards</p>
            </div>
            <div class="awd">
              <p class="word-top">8,000+</p>
              <p class="word-bottom">Events</p>
            </div>
          </div>
        </div>
        <div class="textright">
          <div class="opening">
            <p class="title">Why Choose Us</p>
            <p class="desc">
              We’ve got a lot of awards for our products and services that
              became popular in the world.
            </p>
          </div>
          <div class="stars">
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">The Best Convention Center</p>
                <p class="lowercontent">
                  at The MICE Industry Award 2018 from Venue Magazine.
                </p>
              </div>
            </div>
            <div class="star">
              <img src="./../asset/Star 1.png" alt="" />
              <div class="startext">
                <p class="uppercontent">
                  Most Energy Efficient Building of The Year
                </p>
                <p class="lowercontent">
                  from the 8th from the Department of Energy and Natural
                  Resources at the 4th National Energy Efficiency Awarding in
                  2015.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="container">
        <h1>Upcoming Events</h1>
        <div class="slide-container">
          <div class="card-event">
            <div class="card-image">
              <img src="./../asset/events-images-220-0.jpg" alt="" />
            </div>
            <div class="card-words">
              <h3>SUGA | AGUS D TOUR IN JAKARTA</h3>
              <p>3 Juni 2023 | Exhibition Hall B-C</p>
            </div>
          </div>
          <div class="card-event">
            <div class="card-image">
              <img src="./../asset/events-images-219-0.jpg" alt="" />
            </div>
            <div class="card-words">
              <h3>Wayv Phantom Fanmeeting Tour</h3>
              <p>10 Juni 2023 | Exhibition Hall A</p>
            </div>
          </div>
          <div class="card-event">
            <div class="card-image">
              <img src="./../asset/events-images-221-0.jpg" alt="" />
            </div>
            <div class="card-words">
              <h3>Comic Frontier 16</h3>
              <p>17 Juni 2023 | Exhibition Hall C</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="footerleft">
          <img
            class="logofooter"
            src="./../asset/flat-color-icons_conference-call.png"
            alt=""
          />
          <div class="words">
            <p class="title">Jockey’s Conference Center</p>
            <p class="slogan">the Perfect Event Destination since 1974</p>
          </div>
        </div>
        <div class="footerright">
          <div class="foterlr">
            <p class="title">Quick Links</p>
            <div class="list">
              <li><a href="homepage.html">Home</a></li>
              <li><a href="event.html">Event</a></li>
              <li><a href="pricelist.html">Pricelist</a></li>
              <li><a href="aboutus.html">About Us</a></li>
              <li><a href="contactus.html">Contact Us</a></li>
            </div>
          </div>
          <div class="footerrr">
            <p class="alamat">
              Arena JIEXPO Kemayoran<br />Jakarta Pusat 10620, Indonesia
            </p>
            <div class="phone">
              <img src="./../asset/c.png" alt="" />
              <p class="no">+62 21 26645 000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
