.navbar {
  background-color: #9aab64;
}

.links a {
  color: white;
}
.webname {
  color: white;
}

#hamburger {
  color: white;
}
.events{
  background-color: #FCFFF4;
}
.ourevent {
  padding: 20px;
}
.ourevent .container {
  width: 77%;
  margin-inline: auto;
}

.ourevent h2 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  color: #543d1d;
}

.eventlist {
  padding-bottom: 5vw;
}

.eventlist .container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-inline: auto;
  justify-content: center;
}

.cardevents {
  width: 275px;
  height: 445px;
  background-color: #bd9b78;
  color: white;
}

.cardevents .gambar {
  width: 100%;
  height: 244px;
  object-fit: cover;
}
.eventdesc .detail{
  display: flex;
  flex-direction: column;
  gap:3px;
}
.eventdesc {
  width: 90%;
  height:39%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  margin-inline:auto;
  font-family: "Poppins";
}

.eventdesc h2 {
  width: 80%;
  font-size: 17px;
  font-weight: 600;
}

.eventdesc p {
  font-size: 12px;
  font-weight: 500;
}

.concert {
  display: flex;
  align-items: center;
  gap: 8px;
}

.concert img {
  object-fit: contain;
}
.date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.eventdesc .date img {
  object-fit: contain;
}

.moreinfo {
  /* margin-top: 1.8vh; */
  text-align: center;
}

.moreinfo a {
  background-color: white;
  width: fit-content;
  color: #bd9b78;
  padding: 0.8vh 5vh;
}

@media screen and (max-width: 800px) {
  .ourevent h2 {
    font-family: "Poppins";
    font-size: 5vw;
    font-weight: 500;
    color: #543d1d;
  }
  
  .links {
    background-color: #9aab64;
  }
}
